@import url(https://fonts.googleapis.com/css?family=Montserrat);

/* Page Setup CSS */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: 100%;
  outline: none;
}

/* Menu CSS */

#menu {
  top: 65px;
  left: 15px;
  padding-top: 65px;
  position: absolute;
  width: 100%;
  list-style-type: none;
  display: block;
  -webkit-font-smoothing: antialiased;
  padding: 0 0 0 0;
  margin-top: -36px;
  transform-origin: 0% 0%;
  color: white;
}

#menu a {
  margin-left: calc(20px + 1vw);
  color: hsl(0, 0%, var(--switch));  
  font-family: Montserrat;
  font-size: calc(15px + 0.6vw);
  text-decoration: none;
}

#menu a:hover {
  color: #bdc3c7;
  transition-duration: 0.5s;
}

.active {
  padding-bottom: 5px;
  border-bottom: white solid;
}

/* CSS for each page */

.header-section {
  min-height: 100vh;
  width: 100%;
  display: table;
}

.about-me {
  background-image: url(images/about-me.jpeg);
  background-size: cover;
  background-attachment: fixed;
}

.resume {
  background-image: url(images/resume.jpeg);
  background-size: cover;
  background-attachment: fixed;
}

.projects {
  background-image: url(images/projects.jpeg);
  background-size: cover;
  background-attachment: fixed;
}

.contact-me {
  background-image: url(images/contact-me.jpeg);
  background-size: cover;
  background-attachment: fixed;
}

.about-me-content {
  background: white;
  height: 90vh;
  margin-top: 10vh;
}

.header {
  color: white;
  font-family: Montserrat;
  font-weight: bolder;
  font-size: 6rem;
}

.arrow {
  color: white;
  font-size: 125px;
  margin-top: -140px;
  font-weight: lighter;
}

#scroll {
  color: white;
  text-decoration: none;
}

.center {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.propic {
  width: 500px;
  height: 650x;
}

.container {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  display: inline;
  float: left;
  margin-right: 5%;
}

.about-me-text {
  font-family: Montserrat;
  font-size: 15px;
}